html {
  /* height: 100%; */
}
body {
  /* position: relative; */
  /* min-height: 100%; */
  overflow-y: scroll;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.li {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #F8B7B5;
  height: 4rem;
  justify-content: space-around;


}

.link {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;


}
.link:hover{
  text-decoration: underline;
  text-decoration-color: orangered;
  text-decoration-thickness: 0.2rem;
  text-decoration-skip: none;
  padding-bottom: 1rem;
}
.shopBag {
  filter: invert(100%);
  object-fit: cover;
  height: 1.4rem;
}

.footer {
  background-color: #F8B7B5;
  padding: 0.5rem;
  margin-top: 10rem;
  font-family: Poppins, sans-serif;
  /* position: absolute; */
  /* width: 100%; */
  /* left: 0;
  right: 0;
  bottom: 0; */
  margin-bottom: 0;
}

.Images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.Images img {
  margin-right: 8rem;
}

.Images img:hover {
  transform: scale(1.5);
  transition: 0.5s;
  cursor: pointer;
}

.footer h2 {
  
}

.header {
  text-align: left;
}

.Images-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.photos {
  margin-right: 8rem;
}