.headerImage img{
    width: 100%;
    height: 20%;
    object-fit: cover;

}

.imgContainer:hover {
    /* tran */

}

.imgContainer{
    flex: 1;
}
button {
    /* flex: 1 1 50%; */
    padding: 1rem;
}

button:hover {
    cursor: pointer;
    border: 2px solid orangered;
}

.products {
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: start; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 30px;
    row-gap: 40px;
    font-family: Poppins, sans-serif;
}



.img {
    display: block;
}
